.fondo {
  background-image: url("https://wallpapers.com/images/hd/star-wars-darth-vader-hd-bexjvbym83hk5o56.jpg");
  background-color: black;
  position: fixed;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  z-index: -2;
  transition: filter 0.7s;
}
.totalOpacity {
  filter: brightness(100%);
}
.lessOpacity {
  filter: brightness(50%);
}
