body {
  overflow-x: hidden;
}
.theContainer {
  position: relative;
}
.arrowButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
}
.arrowButton:hover {
  opacity: 1;
}
.arrowButton.left {
  left: 0;
}

.arrowButton.right {
  right: 0;
}
.sectionsContainer {
  width: 100rem;
  height: 20rem;
  margin-top: 25rem;
  background-color: transparent;
  display: flex;
  position: relative;
}
.planets {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  align-items: center;
}

.imgContainer {
  width: 18%;
  height: 90%;
  margin-left: 2.5rem;
  position: relative;
}
.planets .imgContainer {
  flex-shrink: 0;
}
.imgPlanets {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}
.imgContainer:hover {
  transform: scale(1.1);
  border: 2px solid white;
  border-radius: 2rem;
}

.planetName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.596);
  width: 100%;
  padding: 0.5rem;
  opacity: 0;
}
.imgContainer:hover .planetName {
  opacity: 1;
}
