.singleViewContainer {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  width: 90%;
  margin: auto;
  margin-bottom: 5vh;
  border-radius: 1rem;
  background-image: url("https://images.unsplash.com/photo-1603366615917-1fa6dad5c4fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGxhaW4lMjBibGFjayUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&w=1000&q=80");
}
.description {
  display: flex;
  width: 100%;
  height: 60%;
}
.singleImgContainer {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.singleImgContainer img {
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}
.singleTitleContainer {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 2rem;
  color: white;
}
.singleTitleContainer h1 {
  font-family: "Star Wars", sans-serif;
}
.details {
  display: flex;
  width: 100%;
  height: 40%;
  padding-top: 5rem;
  justify-content: space-between;
  align-items: center;
}
.oneDetail {
  width: 10%;
  height: 100%;
  color: white;
  box-sizing: border-box;
  position: relative; /* Agrega posición relativa */
  border-left: 1px solid white;
  bottom: 10%;
  padding: 2rem;
  flex-wrap: wrap;
}
.oneDetail:first-child {
  border: none;
}
.oneDetail * {
  text-transform: capitalize;
}
.singleSaveButton {
  border-radius: 2rem;
  padding: 1rem 2.5rem;
  background-color: rgb(229, 86, 4);
  color: white;
  margin-bottom: 2rem;
}
