.theContainer {
  position: relative;
}
.arrowButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
}
.arrowButton:hover {
  opacity: 1;
}
.arrowButton.left {
  left: 0;
}

.arrowButton.right {
  right: 0;
}
.sectionContainer {
  margin-top: 5rem;
  font-family: "Star Wars", sans-serif;
}
h4 {
  color: white;
  margin-left: 2rem;
  margin-bottom: 1rem;
}
.section {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  align-items: center;
}

.imgContainer {
  width: 35rem;
  height: 40rem;
  margin-left: 1rem;
  position: relative;
  transition: transform 0.5s ease;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 2rem;
  transform: scale(0.9);
}
.section .imgContainer {
  flex-shrink: 0;
}
.imgSection {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  object-fit: cover;
}
.imgContainer:hover {
  transform: scale(1);
  border: 2px solid white;
  border-radius: 2rem;
}

.itemName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.596);
  width: 100%;
  padding: 0.5rem;
  opacity: 0;
  transition: opacity 0.9s ease;
}
.imgContainer:hover .itemName {
  opacity: 1;
}
